#service {
  height: auto;
  overflow: hidden;
}

.title__us {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.section__wrapper {
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.service__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); /* modified line */
}

.card {
  background-color: clear;
  border-radius: 20px;
  height: 240px;
  position: relative;
}

.card:hover:before {
  opacity: 1;
}

.card:before {
  border-radius: inherit;
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

.card__content {
  border-radius: inherit;
  display: grid;
  inset: 1px;
  padding: 1em;
  position: absolute;
}

.card__icon {
  width: calc(30% - 0px);
  position: absolute;
  padding-bottom: 20px;
}

.card__icon {
  place-self: center;
  transition: transform 250ms, opacity 250ms;
}

.card__text {
  place-self: center;
  padding-top: 160px;
}

/* ANIMATION DELAY START */

.card:nth-child(2) {
  transition-delay: 400ms;
}

.card:nth-child(3) {
  transition-delay: 500ms;
} 

/* ANIMATION DELAY END */

@media screen and (max-width: 1200px) {
  .section__wrapper {
    padding: 30px;
  }
}

@media screen and (max-width: 992px) {
  #cards {
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* modified line */
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: auto;
  }

  .card__content {
    height: 150px;
  }

  .card__text {
    padding-top: 120px;
  }
}

@media screen and (max-width: 576px) {
  #cards {
    grid-template-columns: 1fr; /* modified line */
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }

  .card {
    height: auto;
  }

  .card__icon {
    width: 100%;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 430px) {
  .card__text {
    padding-top: 100px;
  }
}
