* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  /* overflow-x: hidden;
  margin: 0;
  padding: 0; */
  height:100vh;
  width:100vw;
  /* overflow:hidden; */
}

@media screen and (max-width: 430px) {
  * {
    overflow-x: hidden;
  }
}
